<main class="container my-5">

  <header class="text-center">
    <h1>Aloop Store</h1>
  </header>

  <section>
    <div class="row">
      <% @products.each do |product| %>
        <%= render partial: "products/product_box", locals: { product: product } %>
      <% end %>
    </div> <!-- row -->
  </section>

</main>




<script>
  $( document ).ready(function() {
    $('.product-box').matchHeight();
  });
</script>