<footer class="w-100 py-4 flex-shrink-0 bg-grey">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-4">
                    <h5 class="h1 text-black">Questions</h5>
                    <p class="small mb-3">
                    	If you really, really have to talk to a human being, then call Pete on his cell phone (+1 303-550-2582) and leave a message.
                	</p>
                	<p class="small mb-3">
                		(He's the closest thing to a human being that we have here).
                	</p>
                	<p class="small mb-3">
						Pete will get back to you as soon as possible, usually on the same day you call.
                    </p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <h5 class="text-black mb-3">Contact Aloop</h5>
                    <p class="small mb-2">
                    	We might not keep regular office hours, but your business is still very important to us. You can contact us by postal service, email, or on our contact us page. We will attempt to respond to all inquiries within 24 hours.
					</p>
					<p class="small mb-3">
						We are located in the USA Mountain Time Zone (GMT-7hrs).
                    </p>

                    <h5 class="text-black mb-3">Overseas Orders</h5>
                    <p class="small mb-2">
                    	Overseas orders are no problem!
					</p>
					<p class="small mb-3">
						We've sold thousands of our Aloop 4SMX kits to customers in over 40 countries! Most shipments are sent via US Mail Global Express Mail, and can arrive in under 1 week, no matter where in the world you live.
                    </p>
                </div>
            </div>
        </div>
    </footer>